a {
  text-decoration: none;
  color: inherit;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  background-color: #fff;
  color: #000;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;
}
.header-title {
  font-size: 24px;
  width: 80px;
}
.header-nav-list {
  display: flex;
  font-weight: bold;
}
.header-nav-item:not(:last-child) {
  margin-right: 30px;
}
.top{
  background-image: url(../img/mv.png);
  background-position:55% 45% ;
  width: 1230px;
  height: 350px;
  text-align: center;
}
.top-sentence{
color: #fff;
font-size: 50px;
padding-top: 180px;
}
.content{
  padding: 50px 120px;
}
.row{
  padding: 25px 0 25px 70px;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}
.row1{
  padding: 25px 0 25px 70px;
  border-bottom: 1px black solid;
}
.question{
  height: 230px;
  background: #DCDCDC;
}
h6{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-top: 40px;
}
.question-sentence{
  text-align: center;
  margin-top: 30px;
}
.question-foot{
  display: flex;
  justify-content: center;
}
.question-button{
  background: crimson;
  color: aliceblue;
  padding: 15px 65px;
  border-color: crimson;
  font-weight: 550;
  margin-top: 40px;
}
.question-button:hover{
  background: rgba(220,20, 60, 0.8);
}
.footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
.footer-inner{
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.footer-ttl {
  font-size: 16px;
  text-align: center;
}
.footer-nav-list {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 10px;
}
.footer-nav-item:not(:last-child) {
  margin-right: 30px;
  padding-right: 22px;
  border-right: 1px white solid;
}